.container {
  max-width: 600px;
  margin: auto;
}

h1 {
  color: #00a59e;
}

form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.custom-select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  appearance: none; /* Remove default arrow */
  background: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="4" height="5" viewBox="0 0 4 5"><path fill="#00a59e" d="M2 0L0 2h4zm0 5L0 3h4z"/></svg>') no-repeat right 10px center/10px 10px, linear-gradient(to bottom, #ffffff, #f9f9f9);
}

.custom-select[multiple] {
  background: none;
}

.custom-select:focus {
  border-color: #00a59e;
  box-shadow: 0 0 5px rgba(0, 165, 158, 0.5);
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn-utopia-primary {
  background-color: #00a59e;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-utopia-primary:hover {
  background-color: #007d74;
}

.btn-secondary {
  background-color: #e01919;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-secondary:hover {
  background-color: #691d0a;
}



  