.error-container {
    position: fixed;
    top: 60px; /* Ajustez en fonction de la hauteur de votre navbar */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: 80%;
    max-width: 600px;
  }
  
  .error-message {
    background-color: #f8d7da;
    color: #721c24;
    padding: 15px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .close-btn {
    background: none;
    border: none;
    color: #721c24;
    font-size: 18px;
    cursor: pointer;
  }
  