/* Style pour le tableau de bord */
.dashboard-container {
    padding: 20px;
    background-color: var(--utopia-background-color);
    color: var(--utopia-text-color);
  }
  
  h2 {
    color: var(--utopia-primary-color);
  }
  
  p {
    margin-bottom: 20px;
  }
  
  /* Style pour la section de salutation */
  .greeting {
    background-color: var(--utopia-primary-color);
    color: var(--utopia-background-color);
    padding: 20px;
    border-radius: 8px;
  }
  
  h3 {
    color: var(--utopia-background-color);
  }