newMdpForm<div class="modifier-mdp-container">
    <h2>Modifier le mot de passe</h2>
    
    <!-- Message de succès -->
    <div *ngIf="successMessage" class="alert alert-success" role="alert">
        {{ successMessage }}
    </div>
    
    <!-- Message d'échec -->
    <div *ngIf="afficherErreur && errorMessage" class="alert alert-danger" role="alert">
        {{ errorMessage }}
    </div>
    
  <form [formGroup]="newMdpForm">
    <fieldset>
        <div class="form-field">
            <label for="newPassword">Nouveau mot de passe</label>
            <input type="password" id="newPassword" name="newPassword" class="form-control" placeholder="Entrez votre nouveau mot de passe" formControlName="newPassword" required>
        </div>
        <div class="form-field">
            <label for="confirmPassword">Confirmer le mot de passe</label>
            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Confirmez votre mot de passe" formControlName="confirmPassword" required>
        </div>
    </fieldset>
    <div class="form-buttons">
        <button class="button button-primary" 
                (click)="updatePassword()">Modifier</button>
    </div>
</form>
</div>