<div class="container">
  <h1>Modifier l'utilisateur</h1>
  <form [formGroup]="updateUserForm">
    <fieldset>
      <div class="form-field">
        <label for="nom" class="form-label">Nom :</label>
        <input type="text" class="form-control" id="nom" formControlName="nom">
      </div>
      <div class="form-field">
        <label for="prenom" class="form-label">Prénom :</label>
        <input type="text" class="form-control" id="prenom" formControlName="prenom">
      </div>
      <div class="form-field">
        <label>Email:</label>
        <input name="email" formControlName="email">
      </div>
      <div class="form-field">
        <label for="role-utilisateur">Antennes :</label>
        <select class="custom-select" formControlName="antennes" multiple>
          <option *ngFor="let antenne of antennes" value="{{antenne._id}}">{{antenne.nom}}</option>
        </select>
      </div>
      <div class="form-field">
        <label for="role-utilisateur">Groupes :</label>
        <select class="custom-select" formControlName="groupes" multiple>
          <option *ngFor="let groupe of groupes" value="{{groupe._id}}">{{groupe.nom}}</option>
        </select>
      </div>
    </fieldset>
    <div class="form-buttons">
      <button class="button button-primary" (click)="modifierUtilisateur()">Enregistrer</button>
      <button class="button" (click)="goBack()">Annuler</button>
    </div>
  </form>
</div>