<div class="container-fluid">
  <div class="text-end mb-3">
    <button class="btn btn-primary" type="button" (click)="ajouterPersonne()">Ajouter personne</button>
    <button class="btn btn-danger" type="button" (click)="supprimerPersonne()">Supprimer personne</button>
  </div>

  <fieldset class="personne-fieldset">
    <div class="personne-navigation">
      <button class="btn nav-btn left" (click)="prevPersonne()" [disabled]="currentPersonneIndex === 0">
        <span class="icon">&#9664;</span>
      </button>

      <div class="personne-details" *ngIf="currentMember">
        <h3 class="text-center mb-3">{{ currentMember.nom }} {{ currentMember.prenom }}</h3>
        <div class="row">
          
          <!-- Nom -->
          <div class="col-12 col-md-6 col-lg-4">
            <div class="form-group">
              <label for="nom">Nom :</label>
              <input 
                id="nom" 
                name="nom"
                class="form-control" 
                [(ngModel)]="currentMember.nom" 
                (ngModelChange)="changementChamp()"
                required 
                minlength="3" 
                #nomField="ngModel"
              />
              <div *ngIf="nomField.invalid && nomField.touched" class="text-danger">
                <div *ngIf="nomField.errors?.['required']">Le nom est requis.</div>
                <div *ngIf="nomField.errors?.['minlength']">Le nom doit comporter au moins 3 caractères.</div>
              </div>
            </div>
          </div>

          <!-- Prénom -->
          <div class="col-12 col-md-6 col-lg-4">
            <div class="form-group">
              <label for="prenom">Prénom :</label>
              <input 
                id="prenom"
                name="prenom"
                class="form-control form-control-sm"
                [(ngModel)]="currentMember.prenom"
                (ngModelChange)="changementChamp()"
                required
                #prenomField="ngModel"
              />
              <div *ngIf="prenomField.invalid && prenomField.touched" class="text-danger">
                <div *ngIf="prenomField.errors?.['required']">Le prénom est requis.</div>
              </div>
            </div>
          </div>

          <!-- Date de naissance -->
          <div class="col-12 col-md-6 col-lg-4">
            <div class="form-group">
              <label for="ddn">Date de naissance :</label>
              <input 
                id="ddn"
                name="ddn"
                type="date" 
                date='dd/MM/yyyy' 
                class="form-control form-control-sm"
                [(ngModel)]="currentMember.ddn"
                (ngModelChange)="changementChamp()"
                #ddnField="ngModel"
              />
            </div>
          </div>

          <!-- Procédure -->
          <div class="col-12 col-md-6 col-lg-4">
            <div class="form-group">
              <label for="procedure">Procédure :</label>
              <select 
                id="procedure"
                name="procedure"
                class="form-select form-select-sm"
                [(ngModel)]="currentMember.procedure"
                (ngModelChange)="changementChamp()"
                #procedureField="ngModel"
              >
                <option *ngFor="let option of procedures" [value]="option">{{ option }}</option>
              </select>
            </div>
          </div>

          <!-- Téléphone -->
          <div class="col-12 col-md-6 col-lg-4">
            <div class="form-group">
              <label for="telephone">Téléphone :</label>
              <input 
                id="telephone"
                name="telephone"
                type="tel"
                pattern="[0-9]{10}"
                class="form-control form-control-sm"
                [(ngModel)]="currentMember.telephone"
                (ngModelChange)="changementChamp()"
                #telephoneField="ngModel"
              />
              <div *ngIf="telephoneField.invalid && telephoneField.touched" class="text-danger">
                <div *ngIf="telephoneField.errors?.['pattern']">Le numéro de téléphone doit comporter 10 chiffres.</div>
              </div>
            </div>
          </div>

          <!-- Nationalité -->
          <div class="col-12 col-md-6 col-lg-4">
            <div class="form-group">
              <label for="nationalite">Nationalité :</label>
              <select 
                id="nationalite"
                name="nationalite"
                class="form-select form-select-sm"
                [(ngModel)]="currentMember.nationalite"
                (ngModelChange)="changementChamp()"
                #nationaliteField="ngModel"
              >
                <option *ngFor="let option of nationalites" [value]="option">{{ option }}</option>
              </select>
            </div>
          </div>

        </div>
      </div>

      <button class="btn nav-btn right" (click)="nextPersonne()" [disabled]="currentPersonneIndex === membresInput.length - 1">
        <span class="icon">&#9654;</span>
      </button>
    </div>
  </fieldset>
</div>
