<div class="container-fluid">
  <div class="text-end mb-3">
    <button class="btn btn-primary" type="button" (click)="ajouterPersonne()">Ajouter personne</button>
  </div>
  
  <fieldset class="personne-fieldset">
    <div class="personne-navigation">
      <button class="btn nav-btn left" (click)="prevPersonne()" [disabled]="currentPersonneIndex === 0">
        <span class="icon">&#9664;</span>
      </button>
      
      <div class="personne-details" *ngIf="currentMember">
        <h3 class="text-center mb-3">{{ currentMember.nom }} {{ currentMember.prenom }}</h3>
        <div class="row">
          <div class="col-12 col-md-6 col-lg-4">
            <div class="form-group">
              <label for="nom">Nom :</label>
              <input id="nom" class="form-control form-control-sm" [(ngModel)]="currentMember.nom" [readonly]="!modificationEnCours">
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="form-group">
              <label for="prenom">Prénom :</label>
              <input id="prenom" class="form-control form-control-sm" [(ngModel)]="currentMember.prenom" [readonly]="!modificationEnCours">
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="form-group">
              <label for="ddn">Date de naissance :</label>
              <input id="ddn" class="form-control form-control-sm" [(ngModel)]="currentMember.ddn" [readonly]="!modificationEnCours">
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="form-group">
              <label for="situation">Situation :</label>
              <input id="situation" class="form-control form-control-sm" [(ngModel)]="currentMember.situation" [readonly]="!modificationEnCours">
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="form-group">
              <label for="procedure">Procédure :</label>
              <input id="procedure" class="form-control form-control-sm" [(ngModel)]="currentMember.procedure" [readonly]="!modificationEnCours">
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="form-group">
              <label for="telephone">Téléphone :</label>
              <input id="telephone" class="form-control form-control-sm" [(ngModel)]="currentMember.telephone" [readonly]="!modificationEnCours">
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="form-group">
              <label for="nationalite">Nationalité :</label>
              <input id="nationalite" class="form-control form-control-sm" [(ngModel)]="currentMember.nationalite" [readonly]="!modificationEnCours">
            </div>
          </div>
        </div>
      </div>
      
      
      <button class="btn nav-btn right" (click)="nextPersonne()" [disabled]="currentPersonneIndex === membresInput.length - 1">
        <span class="icon">&#9654;</span>
      </button>
    </div>
  </fieldset>
</div>
