<div class="utopia-container">
    <h1>Gestion des Rôles/Groupes</h1>
    <input type="text" #newGroupe>
    <button (click)="openPopupCreation(newGroupe.value)">Ajouter un nouveau rôle/groupe</button>
  
    <table>
      <thead>
        <tr>
          <th>Nom</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let groupe of groupes">
          <td>{{ groupe.nom }}</td>
          <td>
            <button (click)="openPopupModifier(groupe.nom)">Modifier</button>
            <button (click)="openPopupSuppression(groupe.nom)">Supprimer</button>
          </td>
        </tr>
      </tbody>
    </table>
