/* Style pour le formulaire d'inscription */
form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid var(--utopia-primary-color);
  border-radius: 8px;
  background-color: var(--utopia-background-color);
  color: var(--utopia-text-color);
}
/* Style pour la case à cocher */
label.form-label {
  display: flex;
  align-items: center;
  font-size: 0.9em;
}
.confirmation-email {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid var(--utopia-primary-color);
  border-radius: 8px;
  background-color: var(--utopia-background-color);
  color: var(--utopia-text-color);
}

.confirmation-email h1 {
  font-size: 1.5em;
  color: var(--utopia-primary-color);
  margin-bottom: 10px;
}

.confirmation-email p {
  font-size: 1em;
  margin-bottom: 15px;
}

.confirmation-email .btn {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  background-color: var(--utopia-primary-color);
  color: var(--utopia-background-color);
  transition: background-color 0.3s ease;
}

.confirmation-email .btn:hover {
  background-color: darken(var(--utopia-primary-color), 10%);
}
button:disabled {
  background-color: lightgray;
  cursor: not-allowed;
  opacity: 0.6;
}

label.form-label input[type="checkbox"] {
  margin-right: 10px;
  width: auto;
  height: auto;
  cursor: pointer;
}
legend {
  font-size: 1.2em;
  font-weight: bold;
  color: var(--utopia-primary-color);
}

.form-field {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: var(--utopia-primary-color);
}

input, select {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--utopia-primary-color);
  border-radius: 4px;
}

.form-buttons {
  margin-top: 15px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--utopia-primary-color);
  color: var(--utopia-background-color);
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: darken(var(--utopia-primary-color), 10%);
}

.error-message {
  color: red;
  font-size: 0.9em;
  font-weight: bold;
  margin-top: 5px;
}