
  <form [formGroup]="newUtilisateurForm">
    <fieldset>
        <legend>Nouveau utilisateur</legend>
        <div class="form-field">
          <label for="nom" class="form-label">Nom :</label>
          <input type="text" class="form-control" id="nom" formControlName="nom">
        </div>
        <div class="form-field">
          <label for="prenom" class="form-label">Prénom :</label>
          <input type="text" class="form-control" id="prenom" formControlName="prenom">
        </div>
        <div class="form-field">
            <label>Email:</label>
            <input name="email" class="form-control" formControlName="email">
        </div>
        <div class="form-field">
            <label>Mot de passe:</label>
            <input name="password" class="form-control" formControlName="password" 
                   type="password">
        </div>
        <div class="form-field">
          <label>Confirmez votre mot de passe:</label>
          <input name="passwordConfirm" class="form-control" formControlName="passwordConfirm" 
                 type="password">
      </div>
      <div class="form-field">
        <label for="role-utilisateur">Antenne principale :</label>
      <select class="custom-select"  formControlName="antennes">
      <option *ngFor="let antenne of antennes" value="{{antenne._id}}">{{antenne.nom}}</option>
    </select>
    </div>
    </fieldset>
    <div class="form-buttons">
        <button class="button button-primary" 
                (click)="register()">Enregistrer</button>
    </div>
</form>