<div class="">
  <button class="btnCarrousel prevBtn" type="button" data-bs-target="#carouselIdentite" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="btnCarrousel nextBtn" type="button" data-bs-target="#carouselIdentite" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="row">
  <span id="carouselIdentite" class="carousel slide ">
    <div class="carousel-inner">
      
      <div *ngFor="let personneIndex of personnesInput" class="carousel-item" [ngClass]="{'active': personneIndex == personnesInput[0]}">
        <div class="row">
          <div class="form-group col-md-3">
            <label for="famille-nom" class="form-label">Nom : </label>
            <input id="famille-nom" class="form-control" [(ngModel)]="personneIndex.nom" placeholder="Nom"
              disabled="{{lectureSeuleInput}}">
          </div>
          <div class="form-group col-md-3">
            <label for="famille-Prenom" class="form-label">Prenom : </label>
            <input id="famille-Prenom" class="form-control" [(ngModel)]="personneIndex.prenom" placeholder="Prenom"
              disabled="{{lectureSeuleInput}}">
          </div>
          <div class="form-group col-md-3">
            <label for="famille-Prenom" class="form-label">Date de naissance : </label>
            <input id="famille-Prenom" class="form-control" [(ngModel)]="personneIndex.DDN" placeholder="Prenom"
              disabled="{{lectureSeuleInput}}">
          </div>
          <div class="form-group col-md-3">
            <label for="famille-Prenom" class="form-label">Situation : </label>
            <input id="famille-Prenom" class="form-control" [(ngModel)]="personneIndex.situation" placeholder="Prenom"
              disabled="{{lectureSeuleInput}}">
          </div>
        </div>
      </div>

    </div>
  </span>
</div>
