<div class="container">
    <div class="header">
      <h1>Gestion des Familles</h1>
      <button class="btn btn-primary" routerLink="/ajouterFamille">Ajouter une Famille</button>
    </div>
    <div class="search-container">
      <input #searchBox class="form-control" type="text" placeholder="Rechercher une famille..." (input)="search(searchBox.value)">
    </div>
    <div class="families-container">
      <div class="family" *ngFor="let famille of familles$ | async" routerLink="/detailFamille/{{famille._id}}">
        <div class="family-info">
          <h2>{{ famille.nomFamille }}</h2>
          <p>{{ famille._id }}</p>
        </div>
      </div>
    </div>
  </div>
  