<h2>Familles</h2>
    <div *ngIf="barreRecherche">
        <div>
            <form class="d-flex" role="search">
                <input #searchBox id="search-box" (input)="search(searchBox.value)" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
                <a class="btn btn-success" routerLink="/ajouterFamille/">Ajouter nouvelle famille</a>
            </form>
        </div>
        <ol class="list-group list-group-numbered">
            <li  *ngFor="let familleIndex of familles$ | async" routerLink="/detailFamille/{{familleIndex.familleId}}" class="list-group-item d-flex justify-content-between align-items-start">
                <div  class="ms-2 me-auto">
                    <div class="fw-bold">{{familleIndex.nomFamille}}</div>
                    {{familleIndex.familleId}}
                </div>
            </li>
        </ol>
    </div>
    