<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Utopia56</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul ngbNav [(activeId)]="active" #nav="ngbNav" class="navbar-nav">
        <li [ngbNavItem]="1" class="nav-item">
          <a ngbNavLink class="nav-link active" aria-current="page" href="#">Comptes</a>
          <ng-template ngbNavContent>
            <app-comptes></app-comptes>
          </ng-template>
        </li>
        <li [ngbNavItem]="2" class="nav-item">
          <a ngbNavLink class="nav-link" href="#">Chat</a>
          <ng-template ngbNavContent>
            <app-chats></app-chats>
          </ng-template>
        </li>
        <li [ngbNavItem]="3" class="nav-item">
          <a ngbNavLink class="nav-link" href="#">Famille</a>
          <ng-template ngbNavContent>
            <app-familles></app-familles>
          </ng-template>  
        </li>
        <li [ngbNavItem]="3" class="nav-item">
          <a ngbNavLink class="nav-link" href="#">Reporting</a>
          <ng-template ngbNavContent>
          </ng-template>  
        </li>
      </ul>
    </div>
  </div>
</nav>

<div [ngbNavOutlet]="nav" class="mt-2"></div>