/* Style pour le formulaire de login */
form {
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--utopia-background-color);
  border: 2px solid var(--utopia-primary-color);
  border-radius: 8px;
}

legend {
  font-size: 1.2em;
  font-weight: bold;
  color: var(--utopia-primary-color);
  margin-bottom: 10px;
}

.form-field {
  margin-bottom: 15px;
}

.form-field .align-left {
  display: inline-block;
  margin-top: 10px;
  font-size: 0.9em;
  color: var(--utopia-secondary-color);
  text-decoration: underline;
  cursor: pointer;
}

.form-field .align-left:hover {
  color: darken(var(--utopia-secondary-color), 10%);
}

button.button-link {
  background: none;
  border: none;
  color: var(--utopia-primary-color);
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
  font-size: 1em;
}

button.button-link:hover {
  color: darken(var(--utopia-primary-color), 10%);
}

label {
  display: block;
  margin-bottom: 5px;
  color: var(--utopia-primary-color);
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--utopia-primary-color);
  border-radius: 4px;
}

.form-buttons {
  margin-top: 20px;
}

button.button-primary {
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: var(--utopia-background-color);
  background-color: var(--utopia-primary-color);
  transition: background-color 0.3s ease;
}

button.button-primary:hover {
  background-color: darken(var(--utopia-primary-color), 10%);
}